div(ng-controller='HeaderController')
    div(ng-if='auth.user')
        h2 Hello 
            span(ng-bind='auth.user.username')
        div
            form(name='logout' ,method='POST', action='/logout')
                div 
                    input(type='submit', value='Logout')
    div(ng-if='!auth.user')
        div
            a(ui-sref='signup') Sign Up
        div
            a(ui-sref='login') Log In