<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style-css-me/css/bootstrap.min.css">
    <script type="text/javascript" src="../public/css/style-css-me/js/jquery.js"></script>
    <script type="text/javascript" src="../public/css/style-css-me/js/bootstrap.min.js"></script>
</head>
<body ng-controller="myCtrl">
    <div class="container">
        <h2>Contact</h2>
        <table class="table table-hover"> 
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="list in persons">
                <td>{{$index+1}}</td>
                <td>{{list.name}}</td>
                <td>{{list.tel}}</td>
                <td>{{list.email}}</td>
                <td><a href="#" ng-click="editData($index)">Edit</a></td>
                <td><a href="#" ng-click="deleteData($index)">Delete</a></td>
            </tr>
        </table>
        <hr>
        <label for="data">name</label>
        <input type="text" ng-model="data.name" class="form-control">
        <label for="data">telephone</label>
        <input type="text" ng-model="data.tel" class="form-control">
        <label for="data">email</label>
        <input type="text" ng-model="data.email" class="form-control">
        <br> 
        <button type="button" class="btn btn-primary" ng-click="addData()">Add</button>
        <button type="button" class="btn btn-info" ng-click="updateData()">Update</button>
    </div>

    <!การดึง angular มาใช้งาน>
    <script type="text/javascript" src="../public/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../public/lib/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!controller Crud>
    <script>
        var app = angular.module('myApp', []);
        
        app.controller('myCtrl', ['$scope', function($scope){
            $scope.persons = [{name:'aa', tel:'0848883092', email:'endwindows07@gmail.com'}]

            $scope.addData = function(){
                $scope.persons.push($scope.data); 
                $scope.data = {};
            }
            $scope.editData = function(index){
                $scope.currentIndex = index;
                $scope.data.name = $scope.persons[index].name;
                $scope.data.tel = $scope.persons[index].tel;
                $scope.data.email = $scope.persons[index].email;
            }
            $scope.updateData = function(){
                var index = $scope.currentIndex;
                $scope.persons[index].name = $scope.data.name;
                $scope.persons[index].tel = $scope.data.tel;
                $scope.persons[index].email = $scope.data.email;
                $scope.data = {};
            }
            $scope.deleteData = function(index){
                $scope.persons.splice(index, 1);
            }
        }]);
    </script>

</body>
</html>