.row(ng-controller='aboutController')
  #aboutus.bodyAll
    div
      h1 ABOUT US
    .row(ng-show ='showList')
      div
        table.table.table-hover
          thead
            tr
              th#index
                h3 #
              th
                h3 History 
              th
                h3 Vision 
              th
                h3 Mission
              th#deleteBtn
                h3 &nbsp;
          tbody
            tr(ng-repeat='about in abouts')  
              td#index
                p {{$index + 1}} 
              td
                p  {{about.history}}
              td
                p  {{about.vision}}
              td
                p  {{about.mission}}
              td#deleteBtn
                button#tableBtn.btn.btn-danger.btn-sm(ng-click='editData(about._id)' ui-sref='addAbout') Edit
      div
        button#contentInsert.btn.btn-default.btn-lg(ng-click='showInsert()') Insert
    .row(ng-hide ='showList')
      .form.col-md-12(medthod='put')
              form.col-md-8
                .form-group.col-md-6
                  label  History
                  textarea(name='message' type='text' ng-model='model.history' rows='3' cols='120')
            .col-md-12
              form.col-md-8
                .form-group.col-md-6
                  label  vision
                  textarea(name='message' type='text' ng-model='model.vision' rows='3' cols='120')
            .col-md-12
              form.col-md-8
                .form-group.col-md-6
                  label mission
                  textarea(name='message' type='text' ng-model='model.mission' rows='3' cols='120')
                  br
                  button.btn.btn-success(ng-click='updateData(model)')  Update 
 