.row(ng-controller='viewContactController')
    #aboutus.bodyAll
      div
        h1 CONTACK US
      .row
        div(ng-show ='showList')
          table.table.table-hover
            thead
              tr
                th#index
                  h3 #
                th
                  h3 Company
                th
                  h3 Address
                th
                  h3 Email
                th#deleteBtn
                  h3 &nbsp;
            tbody
              tr(ng-repeat='contact in contacts') 
                td#index
                  p {{index+1}}
                td 
                  p {{contact.company}}
                td 
                  p{{contact.address}}
                td 
                  p {{contact.email}}
                td#deleteBtn
                  button#tableBtn.btn.btn-danger.btn-sm(ng-click='editData(contact._id)') Edit
                  button#tableBtn.btn.btn-danger.btn-sm(ng-click='deleteData(contact._id)') Delete
          div
            button#contentInsert.btn.btn-default.btn-lg(ng-click='showInsert()') Insert
        .div(ng-hide ='showList')
          form.col-md-12(method='post') 
            .form-group.col-md-8
              label(for='') Company
              input.form-control(type='text',ng-model='model.company' ,placeholder='enter your company..')
          form.col-md-12(action='')
            .form-group.col-md-8
              label(for='') Address
              input.form-control(type='text',ng-model='model.address' ,placeholder='enter your address..')
          form.col-md-12(action='')
            .form-group.col-md-8
              label(for='') Email
              input.form-control(type='text', ng-model='model.email' , placeholder='enter your email..')
              br
              button.btn.btn-success(ng-click='addData()')  Add
              button.btn.btn-info(ng-click='updateData()')  Update
          .col-md-9
