.row(ng-controller='partnerController')
  #aboutus.bodyAll
      div
        h1 PARTNERS
      .row
          div(ng-show ='showList')
            table.table.table-hover
              thead
                tr
                  th#index
                    h3 #
                  th
                    h3 Image
                  th
                    h3 Name
                  th
                    h3 &nbsp;
                  th#deleteBtn
                    h3 &nbsp;
              tbody
                tr(ng-repeat='partner in partners')  
                  td#index
                    p {{index+1}}
                  td
                    img.img-thumbnail(src='images/{{partner.name}}')
                  td
                    p {{partner.name}}
                  td
                  td#deleteBtn
                    button#tableBtn.btn.btn-danger.btn-sm(ng-click='deleteData(partner._id)') Delete
                    button#tableBtn.btn.btn-danger.btn-sm(ng-click='editData(partner._id)') Edit
            div
              button#contentInsert.btn.btn-default.btn-lg(ng-click='showInsert()') Insert
          .div(ng-hide ='showList')
            .col-md-12
              form.col-md-4.slideImage(method='post' action='/Partner' enctype='multipart/form-data')
                .form-group.col-md-6
                  label(for='') Images
                  input#file-3(type='file' name='image' multiple='true'  ng-model='model.img')
                .form-group.col-md-12
                  button.btn.btn-success(type='submit' ng-click='showList()') Upload