.row(ng-controller='personnelController')
    #aboutus.bodyAll
      div
        h1 PERSONNELS
      .row
        div(ng-show ='showList')
          table.table.table-hover
            thead
              tr
                th#index
                  h3 #
                th
                  h3 Image
                th
                  h3 Name
                th
                  h3 &nbsp;
                th#deleteBtn
                  h3 &nbsp;
            tbody
              tr(ng-repeat='personnel in personnels')
                td#index
                  p {{index+1}}
                td
                  img.img-thumbnail(src='images/{{personnel.name}}')
                td
                  p {{personnel.name}}
                td
                td#deleteBtn
                  button#tableBtn.btn.btn-danger.btn-sm(ng-click='deleteData(personnel._id)') Delete
          div
            button#contentInsert.btn.btn-default.btn-lg(ng-click='showInsert()') Insert
        .div(ng-hide ='showList')
          .col-md-12
              form.col-md-4.slideImage(action='/Personnel' method='post' enctype='multipart/form-data')
                .form-group.col-md-6
                  label(for='') Images
                  input(type='file' name='image')
                .form-group.col-md-12
                  button.btn.btn-success(type='submit' ng-click='showList()') Upload