.row(ng-controller='serviceController')
  #service.bodyAll
      div
        h1 SERVICES
      .row
        div(ng-show ='showList')
          table.table.table-hover
            thead
              tr
                th#index
                  h3 #
                th
                  h3 Image
                th
                  h3 Topic 
                th
                  h3 Content
                th#deleteBtn
                  h3 &nbsp;
            tbody
              tr(ng-repeat='service in services')
                td#index
                  p {{$index+1}} 
                td
                  img.img-thumbnail(src='images/{{service.name}}')
                td
                  p {{service.contentOne}}
                td
                  p {{service.contentTwo}}
                td#deleteBtn
                  button#tableBtn.btn.btn-danger.btn-sm(ng-click='editData(service._id)')  edit
                  button#tableBtn.btn.btn-danger.btn-sm(ng-click='deleteData(service._id)')  Delete
          div
            button#contentInsert.btn.btn-default.btn-lg(ng-click='showInsert()') Insert
        .row.col-md-12(ng-hide ='showList')
          form.col-md-8(action='/Service' method='post' enctype='multipart/form-data')
            .form-group.col-md-6
              label Image 1
              input(type='file' name='image' ng-model='model.image')
            .form-group.col-md-6
              label Topic
              input.form-control(name='contentOne' type='text' ng-model='model.contentOne' )
              label Content 
              textarea(name='contentTwo' type='text' ng-model='model.contentTwo' rows='3' cols='45')
              button.btn.btn-success(type='submit')  Add
              button.btn.btn-info(ng-click='updateData()')  Update