.row(ng-controller='slideController')
    #aboutus.bodyAll
      div
        h1 SLIDES
      .row
        div(ng-show ='showList')
          table.table.table-hover
            thead
              tr
                th#index
                  h3 #
                th
                  h3 Image
                th
                  h3 Name
                th
                  h3 &nbsp;
                th#deleteBtn
                  h3 &nbsp;
            tbody
              tr(ng-repeat='slide in slides')
                td#index
                  p {{index+1}}
                td
                  img.img-thumbnail(src='images/{{slide.name}}')
                td 
                  p {{slide.name}} 
                td
                td#deleteBtn
                  button#tableBtn.btn.btn-danger.btn-sm(ng-click='deleteData(slide._id)') Delete
          div
            button#contentInsert.btn.btn-default.btn-lg(ng-click='showInsert()') Insert
        .div(ng-hide ='showList')
          .col-md-12
            form.col-md-4.slideImage(action='/Slide' method='POST' enctype='multipart/form-data')
              .form-group.col-md-6
                label(for='') Images
                input(type='file' name='image')
              .form-group.col-md-12
                button.btn.btn-success(type='submit' ng-click='showList()') Upload 
            