.row(ng-controller='workController')
    #aboutus.bodyAll
      div
        h1 WORKS
      .row
        div(ng-show ='showList')
          table.table.table-hover
            thead
              tr
                th#index
                  h3 #
                th
                  h3 Image
                th
                  h3 Topic
                th
                  h3 Content
                th#deleteBtn
                  h3 &nbsp;
            tbody
              tr(ng-repeat='work in works')
                td#index
                  p{{index+1}}
                td
                  img.img-thumbnail(src='images/{{work.name}}')
                td 
                  p {{work.topic}}
                td
                  p {{work.content}}
                td#deleteBtn
                  button#tableBtn.btn.btn-danger.btn-sm(ng-click='editData(work._id)') Edit
                  button#tableBtn.btn.btn-danger.btn-sm(ng-click='deleteData(work._id)') Delete
          div
            button#contentInsert.btn.btn-default.btn-lg(ng-click='showInsert()') Insert
        .col-md-12(ng-hide ='showList')
          form.col-md-12(action='/Work' method='post' enctype='multipart/form-data')
            br
            .form-group.col-md-1
            .form-group.col-md-4
              label Image 1 
              input(type='file' name='image' ng-model='model.image')
            .form-group.col-md-6
              label Topic
              input.form-control(name='topic' type='text' ng-model='model.topic' )
              label Content 
              textarea(name='content' type='text' ng-model='model.content' rows='3' cols='45')
              button.btn.btn-success(ng-click='showList()' type='submit')  Add
              button.btn.btn-info(ng-click='updateData()')  Update
