<!DOCTYPE HTML>
<html>
    <head>
        <title>My Site</title>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
    </head>
        <body>
            <div class="nav-wrapper" cellpadding="0"   cellspacing="0">
                <h1 class="text1">ROLAND</h1>
                 <p>        
                     <ul>
                     <il><a href="#" class="list">HOME</a></il>
                     <il><a href="#" class="list">ABOUT US</a></il>
                     <il><a href="#" class="list">NEWS</a></il>
                     <il><a href="#" class="list">PORTFOLIO</a></il>
                     <il><a href="#" class="list">CONTECT</a></il>
                     </ul>
                 </p>
                </div>
            <div class="content">
                <br>
                <br>
                <br>
                <br>
                <div>
                     <div class="body-content-2">
                            <h1 class="text-content"> <br><br> This separation of formatting and content makes it possible to present the same markup page in different styles for different rendering methods, such as on-screen, in print, by voice (when read out by a speech-based browser or screen reader) and on Braille-based, tactile devices. It can also be used to display the web page differently depending on the screen size or device on which it is being viewed. Readers can also specify a different style sheet, such as a CSS file stored on their own computer, to override the one the author has specified.</h1>
                     </div>
                </div>
          </div>
    </body>
</html>