        body {
                min-height: 400vh;
            }

            .test-hero-bg {
                height: 70vh;
                background-image: url('http://unsplash.it/1000/1000');
                background-size: cover;
                background-color: red;
            }

            .test-bg {
                height: 400px;
                background-image: url('http://unsplash.it/1200/800');
                background-size: cover;
            }

            .test-color {
                height: 400px;
                border: 10px #fff solid;
            }

            .test-filter {
                height: 400px;
                background-image: url('http://unsplash.it/1200/801');
            }
