
h1, h2, h3, h4, h5, h6  {
    font-family: 'supermarket' !important;
}
p{
    font-family: 'Superspace Light' !important;
    font-size: 18px;
}

.container-fluid{
    background-color: #e0e0e0;
}
.row{
    margin:15px;
}
.navbar{
    padding-left:0px;
    font-family: 'supermarket';
    font-size: 16px;
}
.logo{
    height: 51px;
    width: 51px;
}
#id_nav1{
    margin-left: 20%; 
    padding-left: 25%;
}
.bodyAll{
    padding: 15px 7% 15px 7%;  
    margin:0% 17% 3% 17%;
    background-color: white;
    box-shadow: 2px 3px 4px grey;
    height: 100%;
}
.slideImage{
    margin-left: 30%;
    border-style: solid;
    border-width: medium;
    border-color: gray;
}

table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    clear: both;
}


tbody {
    height: 350px;
    overflow-y: auto;
}

tbody td, thead th {
    width: 25.4%;
    margin: 0px;
    padding: 0px;
    float: left;
}   

#index{
    width: 6%;
    float: left;
}
#deleteBtn{
    width: 15%;
    float: left;
}
#tableBtn{
    margin: 6% 10% 0% 10%;
}
#contentInsert{
    margin-top: 0%;
    margin-left: 85%;
}
textarea{
    width: 100%;
}