h1, h2, h3, h4, h5, h6{
    font-family: 'supermarket' !important;
}
h1{
    font-size: 36px !important;
}
p{
    font-family: 'Superspace Light' !important;
    font-size: 20px !important;
}

h3{
    font-size: 28px !important;
}

table { 
    border-collapse: collapse; 
}

.navbar{
    padding-left:0px;
    font-family: 'supermarket';
    font-size: 16px;
    min-height: 15px;

}
.logo{
    height: 51px;
    width: 51px;
} 

.image{
    background-image: url(./img/bg-1.jpg);
    min-height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-logo{
    height: 160px;
    width: 160px;
    text-align: center;
    padding-top: 13%; 
    margin-left: 35%; 
    margin-right: 20%;
}
.image-logo-color{
    margin-bottom: 0px;
    text-align: center;
    margin-top: 410px;
    background-color: black;
    min-height: 60px;
    opacity: 0.33;
    filter:alpha (opacity=33);
    
}
#Perf{
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Superspace Light' !important;
    font-size: 22px !important;
    color: black;
}
#aboutus{
    background-color: #FCFFDB;
}

.toppic-1{
    font-family: 'supermarket';
    /*background-image: url(./img/IMG_0930.jpg);*/
    background-color: #FCFFDB;
    margin-left: 2%;
    margin-right: 2%;
    background-size: cover;
}
.toppic-1-color{
    padding: 0px 0px 20px 0px;
    background-color: #FCFFDB;
    min-height: 600px;
    opacity: 0.95;
    filter:alpha (opacity=95);

}
.content-1{
    padding-left: 0px;
    padding-bottom: 30px; 
}
#content-1-img{
    padding: 30px 0px 0px 25px;
    margin-bottom: 40px;
    height: 150px;
    width: 150px;
}
#content-1-text{
    padding-left: 60px;
    font-family: 'supermarket';
}
#myCarousel-Personnel{
    width: 100%;
    height: 70%;
}

.slide{
    width: 100%;
    height: 70%;
}

.image-tree{
    background-image: url(./img/bg-2.jpg);
    height: 100%;
    min-height: 600pt;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-tree-content-thumbnail{
    margin: 70% 10% 10% 10%; 
    height: 100%;
    -webkit-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.71);
    box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.71);
}
.toppic-3{  
    padding: 40px 0px 0px 50px;
    font-family: 'supermarket';
}

#toppic-3-content{
    padding: 1% 10% 2% 7%; 
}
.image-two{
    background-image: url(./img/bg-3.jpg);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption{
    margin: 15px;
    font-family: 'supermarket'; 
}
.image-color{
    background-color: black;
    min-height: 60px;
    opacity: 0.4;
    filter:alpha (opacity=44);
}
.toppic-4{
    font-family: 'supermarket';
    background-color: gray;
    min-height: 100%;
    padding: 30px 28% 40px 5%;
    margin: 0px;
    color: white;
}
#partnerText{
    color: white;
}
.toppic-4-img{
    padding-top: 30px;
    margin-left: 20%;
    height:800px;
    width: 800px;
}

.toppic-7{
    background-image:  url(./img/BGCONTACT_US.png);
    min-height: 450px;
    padding-top: 30px;
    padding-left: 60px; 
    padding-right: 5%;
    color: lightgray;
}
#toppic5{
    color: lightgray;
    font-family: 'supermarket';
    font-weight: 16px;
}
.modal-dialog{
    font-family: 'supermarket';
}
#myModal{
    margin-top: 100px;
}

#textFontTop{
    font-size: 40px;
}
#textFontMin{
    font-size: 30px;
}
#textFont{
    font-size: 20px;
}