.container {
    background-color: #292929;
}
.login{
   margin-left: 16%;
   margin-right: 10%;
   height: 480pt;
}
.row{
    background-color: #292929;
}
.form-group{
    margin-top: 1%;
    margin-left:1.7%;
}
.form-control{
    text-align: center;
    box-shadow: 3px 4px 5px darkslategray;
} 
.img-responsive{
    height: 165px;
    width: 165px;
    box-shadow: 1px 2px 3px darkslategray;
}