*{
    margin: 0;
    padding: 0;
}
.nav-wrapper{
    background: #288957;
    height: 150px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.text1{
    font: bold;
    color: white;
    font-size:50px;
    margin-left: 20%;
}
.list {
    color: white;
    font-size: 20px;
    padding-top: 20%;
    padding: 20px;
    font-family: Gill Sans MT;
}

p {
     margin-top: 50px;
     margin-right: 5%;
     text-align: right;
}


.content{
    background: url(567.jpg);
    height:800px;
    margin-top:0px;
    background-size: cover;
}

.body-content-2{
    background: black;
    width: 100%;
    height:400px;
    opacity: 0.5;
    filter:alpha (opacity=50); /*IE8 earlier*/
}
.text-content{
    color: white;
    font-family: Courier New;
    font-size: 15px;
    font: small;
}

.text-conten1{
    color: white;
    font-family: Gill Sans MT;
    font-size: 15px;
    font: bold;
}