*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    background-color: #424243;
    scrollbar-shadow-color: #424243;
    color: 
}

#menu{
    margin-left:75px;
    margin-bottom: 0px;
}

.parallax{  
    background-image: url(567.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-Content{
    color: white;
    margin-top: 20%; 
    padding: 20px;
    text-align: center;
    background-color: #424243;
}

.jumbotron{
    margin: 10px;
    margin-left: 0;
    background: white; 

}

.subContent{
    margin-top:70px;
    margin-bottom: 60px;
}

.subContent1{
    text-align: center;
    width: 60%;
    padding: 30px;  
    color: white;
    background-color: #424243;
}

.subContent2{
    padding-left: 0px;
    padding-top:50px ; 
    width: 65%;
    height: 100%;
}
.subContent3{
    margin-top:40px; 
}
.subHeader{

    color: white;
    background-color: #424243;
}
.footer{
    background-color: #424243;
}