* {
    margin: 0px;
    padding: 0px;
}
.navbar{
    background-color: #CCCDD0;

}

.navbar-header{
    padding-left: 15%;
    color: white;
    
}

#id_nav1{
    padding-left: 75%;
    color: white;   
}
.image{
    background-image: url(business2.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-image{
    color: white;
    text-align: center;
    padding-top: 125px;
}
#subcontent{
    margin:60px 30px 30px;
}
.footer{
    background-color: #364D88;
    min-height: 300px;
}
.footer{
    color: white;
}