*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    padding:0.075% 0% 0% 15%;
}
.navbar-header{
    padding: 15px;
    background-color: #FD9B3F;
}
#id_nav1{
    padding-top: 10px;
}
.image{
    background-image: url(food1.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#toppic-part{
    background-color: white;
    padding:200px 0px 80px 30px ;
    margin-left: 7% ;
    opacity: 0.7;
    filter:alpha (opacity=70);
}
#conten1-image{
    margin-left: 6%;

}
#conten1-image-content{
    margin-left: 20%;
    padding:100px 100px 183px 100px;
    background-color: #EEEDDE;
}
#blog{
    margin:0px 40px 40px 220%;
    background-color: #A18787;
    padding: 30px 50% 30px 30px;
}