*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    padding:  20px;
    background-color: #232E5C;
    
}

.navbar-brand{
    padding-left: 100px;
    color: white;
}

#id_navBar{
    padding-right: 15%;
}

.image{
    background-image: url(nature1.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
.header-content{
    text-align: center;
    padding: 35px;
    margin-top: 90%;
    background-color: white;
    opacity: 0.55;
    filter:alpha (opacity=55);
}
.content1{
    margin-top: 35px; 
    background-color: #E7F9FB;
}
.content-colum {
    text-align: center;
    padding: 20px 40px 60px 40px;
    margin: 30px;
    background-color: #232E5C;
    color: #DCDCD9;
}
.content2{
    text-align: center;
    margin-top: 40px;
    background-color: #A8EEF7;
    padding-bottom: 40px;
}
.toppic{
    padding: 50px;
    text-align: center;
}
.contect2-text{
    padding:0% 25% 0% 25%;
}
#buttonRead{
    margin-top: 30px;
}

.content3{
    background-color: #232E5C;
    margin: 0;
    color: white;
    padding-top: 5px;
}
