div(ng-controller='HelloController')
    div
        label(for='yourName') You Name Is
        input(name='yourName', type='text', ng-model='yourName')
    div
        | {{yourName | sayhello}}
    a(ui-sref='nohello') Go to nohello state