.div(ng-controller='viewController')
      .toppic-1(ng-repeat='about in abouts')
        .toppic-1-color
          .col-md-1
          h1 ABOUT US
          .col-md-1
          .content-1.uk-width-1-1(data-uk-scrollspy="{ cls:'uk-animation-fade', delay:100 }")
            #content-1-img.col-md-2
              img.img-responsive(src=' /css/style-css-me/img/THES-LOGO.png')
            #content-1-text.col-md-8
              h3 &#xE04;&#xE27;&#xE32;&#xE21;&#xE40;&#xE1B;&#xE47;&#xE19;&#xE21;&#xE32; 
              hr
              p
                | {{about.history}} 
            .col-md-12
          .col-md-1
          .content-1.uk-width-1-1(data-uk-scrollspy="{ cls:'uk-animation-fade', delay:500 }")
            #content-1-img.col-md-2
              img.img-responsive(src=' /css/style-css-me/img/vision.png')
            #content-1-text.col-md-8
              h3  &#xE27;&#xE34;&#xE2A;&#xE31;&#xE22;&#xE17;&#xE31;&#xE28;&#xE19;&#xE4C;  
              hr
              p
                | {{about.vision}}
            .col-md-12
          .col-md-1
          .content-1.uk-width-1-1(data-uk-scrollspy="{cls:'uk-animation-fade', delay:1000 }")
            #content-1-img.col-md-2
              img.img-responsive(src=' /css/style-css-me/img/mission.png')
            #content-1-text.col-md-8
              h3  &#xE1E;&#xE31;&#xE19;&#xE18;&#xE01;&#xE34;&#xE08; 
              hr
              p
                | {{about.mission}}
            .col-md-12
