.row(ng-controller='viewController')
    #contentus.div
        .toppic-7(ng-repeat='contact in contacts')
            h1#toppic5  CONTACT US
            .toppic-7-header.col-md-6
                p {{contact.company}}
                p {{contact.address}}
                p {{contact.email}}
            .div.col-md-1
            .map.col-md-5
                iframe(src='https://www.google.com/maps/d/embed?mid=1XD_g_0Y3mGrlHPGxpD-RPpkj0wk' width='400' height='300')