#home.div
    .image
        .col-md-1
        .image-logo.col-sm-2
            img.img-responsive.slide(src='  /css/style-css-me/img/THES-LOGO2.png')
            div
                h3#Perf Perf Enterprice
        .col-md-2