.row(ng-controller='viewPartnerController')
    .toppic-4
        h1#partnerText PARTNERS 
        div.img-partner(ng-repeat='partner in partners')
          img.img-responsive.toppic-4-img(src="images/{{partner.name}}")
          