#personnel.div(ng-controller='personnelViewController')
    .toppic-2
        #myCarousel-Personnel.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#myCarousel-Personnel' data-slide-to='0')
            li(data-target='#myCarousel-Personnel' data-slide-to='1')
            li(data-target='#myCarousel-Personnel' data-slide-to='2')
          .carousel-inner
            .item.active
              img.img-responsive.slide(src='images/{{firstpersonal.name}}')
              .carousel-caption
                p slide1
            .item(ng-repeat='personnel in personnels')
              img.img-responsive.slide(src='images/{{personnel.name}}')
              .carousel-caption
                p slide2
          a.left.carousel-control(href='#myCarousel-Personnel' data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
          a.right.carousel-control(href='#myCarousel-Personnel' data-slide='next')
            span.glyphicon.glyphicon-chevron-right 