.div(ng-controller='viewController')
    .toppic-3
        h1 SERVICE 
        .div(ng-repeat='service in services')
          #toppic-3-content.col-md-6
            .thumbnail
              img.img-responsive(src='  images/{{service.name}}')
              .caption
                h3
                  | {{service.contentOne}} 
                p
                  | {{service.contentTwo}}
  