div(ng-controller='slideViewController')
  div.slide(data-uk-slideshow='{kenburns:true,autoplay:true}')
    .uk-slidenav-position
      ul.uk-slideshow
        li
          img(src="images/{{fistSlide.name}}")
        li(ng-repeat='slide in slides')
          img(src="images/{{slide.name}}")





//.div(ng-controller='slideViewController')
  #myCarousel.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
          li.active(data-target='#myCarousel' data-slide-to='0')
          li(data-target='#myCarousel' data-slide-to='1')
          li(data-target='#myCarousel' data-slide-to='2')
          li(data-target='#myCarousel' data-slide-to='3')
      .carousel-inner
          .item.active
              img.img-responsive.slide(src="images/{{fistSlide.name}}")
              .carousel-caption
                p#textFont Graphic Design
          .item(ng-repeat='slide in slides')
              img.img-responsive.slide(src="images/{{slide.name}}")
              .carousel-caption
                p#textFont Graphic Design 
          a.left.carousel-control(href='#myCarousel' data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
          a.right.carousel-control(href='#myCarousel' data-slide='next')
            span.glyphicon.glyphicon-chevron-right