#work.row(ng-controller='viewController')
    .image-tree
        .col-md-1
        .image-tree-content(ng-repeat='work in works')
          .col-md-3
            .thumbnail.image-tree-content-thumbnail(data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true }")
              img.img-responsive(src='images/{{work.name}}')
              .caption
                h3
                  | {{work.topic}}
                p
                  | {{work.content}}
 