.row(ng-controller='storeController')
  h3 Form Create New Content
  form.form-horizontal
    .form-group(method='post')
      label.col-md-2.control-label Title Content
      .col-md-3
        input.form-control(type='text' ng-model='model.textContent' placeholder='Enter title content..')
    .form-group
      label.col-md-2.control-label Text Content
      .col-md-3
        input.form-control(type='text' ng-model='model.titleContent' placeholder='Enter text content..')
    .form-group
      label.col-md-2.control-label
      .col-md-3
        button.btn.btn-success.btn-sm( ng-click='addData()') Add

