doctype html
head
  meta(charset='UTF-8')
  title Document
div
  h2 Sign Up
  div
    form(name='signupForm', method='POST', action='/signup', ng-controller='AuthController', ng-submit='signup(signupForm.$valid)', novalidate)
      div
        label(for='username')  Username 
        input(type='text', name='username', placeholder='Username..', ng-model='user.username', ng-maxlength='10', required)
      div
        label(for='fistName')  Fistname
        input(type='text', name='fistName', placeholder='Fistname..', ng-model='user.fistName', required )
      div
        label(for='lastName')  Lastname 
        input(type='text', name='lastName', placeholder='Lastname..', ng-model='user.lastName', required)
      div
        label(for='email')  Email 
        input(type='email', name='email', placeholder='email..', ng-model='user.email', required)
        p(ng-show='signupForm.email.$touched && signupForm.email.$error.required') Email is required.
        p(ng-show='signupForm.email.$dirty && signupForm.email.$error.email') Email is in worng format.
      div
        label(for='password')  Password 
        input(type='password', name='password', placeholder='Password..', ng-model='user.password', ng-minlength='6')
      div
        input(type='submit', value='Sign Up')
    div
      a(href='/oauth/facebook')  LOGIN WITH FACEBOOK
    div
      a(href='/oauth/google')  LOGIN WITH GOOGLE
    