doctype html
html
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet' type='text/css' href=' /css/style-css-me/backEnd.main.style.css')
    link(rel='stylesheet' type='text/css' href=' /css/style-css-me/css/bootstrap.min.css')
    script(type='text/javascript' src=' /css/style-css-me/js/jquery.js')
    script(type='text/javascript' src=' /css/style-css-me/js/bootstrap.min.js')
    // file input plugin
    link(href='/css/style-css-me/inputFile/css/fileinput.css' media='all' rel='stylesheet' type='text/css')
    script(src='/css/style-css-me/inputFile/js/fileinput.js' type='text/javascript')
  body
    .container-fluid#backEnd
      .row
        #navScrollSpy.navbar.navbar-inverse.navbar-fixed-top
          .navbar-header
            button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#id_nav1')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#')
              a(href='#home')
                img.logo(src='/css/style-css-me/img/THES-LOGO.png')
          #id_nav1.collapse.navbar-collapse
            .nav.navbar-nav.uk-nav-bar-nav(data-uk-scrollspy-nav="{closest: 'li', smoothscroll: {offset:50 }}")
              li
                a.nav-button(ui-sref="home" href='#home')  Home
              li
                a.nav-button(ui-sref="about")  About
              li
                a.nav-button(ui-sref="service")  Service
              li
                a.nav-button(ui-sref="personnel")  Personnel 
              li
                a.nav-button(ui-sref="partners") Partners 
              li
                a.nav-button(ui-sref="contactus")  Contact Us
              li
                a.nav-button(ui-sref="slide")  SLIDE
              li
                a.nav-button(ui-sref="work")  WORK
              li
                a.glyphicon.glyphicon-user.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  span.caret
                ul#dropbox.dropdown-menu.col-xs-3(role='menu' aria-labelledby='menu1')
                  li.dropdown-header(role='presentation') hello #{username} 
                  li.divider(role='presentation')
                  li(role='presentation')
                    a.glyphicon.glyphicon-calendar(href='#' data-toggle='modal' data-target='#myCalendar' data-ng-value='calendar') calendar
                  li.divider(role='presentation')
                  form(name='logout' ,method='POST', action='logout')
                    li(role='presentation')
                      input(type='submit' class='btn btn-default' , value='Logout')   
        .row
          .div(ui-view)

        .row(style='margin-top: 50px;')
          #myModal.modal.fade
            .modal-dialog
              .col-md-3
              .modal-content.col-md-6
                .modal-header
                  button.close(type='button', data-dismiss='modal')
                .modal-body(name='login', method='POST', action='/login')
                .modal-footer
        .row
          #myCalendar.modal.fade
            .modal-dailog
              .modal-content
                .modal-header
                  h4 myCalendar
                  button.close(type='button', data-dismiss='modal')
                    span.glyphicon.glyphicon-remove(aria-hidden='true')
                .modal-body
                  .col-md-2
                  iframe(src='https://calendar.google.com/calendar/embed?src=endwindows07%40gmail.com&ctz=Asia/Bangkok' style='border: 0' width='800' height='600' frameborder='0' scrolling='no')
                .modal-footer
                  button.btn.btn-danger(type='button' data-dismiss='modal') Close
                a(href='/insertcontent') Create New Content
    script.
      $("#file-3").fileinput({
      showUpload: false,
      showCaption: false,
      browseClass: "btn btn-primary btn-lg",
      fileType: "any",
      previewFileIcon: "<i class='glyphicon glyphicon-king'></i>"
      });
    script(type='text/javascript', src='/lib/angular/angular.min.js')
    script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.min.js')
    script(type='text/javascript', src='/modules/backend/backend.client.module.js')
    script(type='text/javascript', src='/modules/backend/config/backend.client.router.js') 
    script(type='text/javascript', src='/modules/backend/controllers/viewContact.client.controllers.js')
    script(type='text/javascript', src='/modules/backend/controllers/about.client.controllers.js')
    script(type='text/javascript', src='/modules/backend/controllers/service.client.controllers.js')
    script(type='text/javascript', src='/modules/backend/controllers/work.client.controllers.js')
    script(type='text/javascript', src='/modules/backend/controllers/partner.client.controllers.js')
    script(type='text/javascript', src='/modules/backend/controllers/personnel.client.controllers.js')
    script(type='text/javascript', src='/modules/backend/controllers/slide.client.controllers.js')
    script(type='text/javascript', src='/applicationBackEnd.js')