doctype html
head
  meta(charset='UTF-8')
  title Document
  link(rel='stylesheet' href=' /css/style-css-me/index.main.style.css')
  link(rel='stylesheet' type='text/css' href=' /css/style-css-me/css/bootstrap.min.css')
  script(type='text/javascript' src=' /css/style-css-me/js/jquery.js')
  script(type='text/javascript' src=' /css/style-css-me/js/bootstrap.min.js')
.container#content1
  .div(ng-include="'/modules/content/views/content.client.view.jade'")
  hr
  .row
    a(href='/viewcontents') Views Connents
  script(type='text/javascript', src='/lib/angular/angular.min.js')
  script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.min.js')
  script(type='text/javascript', src='/modules/content/controllers/insertContent.client.controllers.js')
  script(type='text/javascript', src='/modules/content/content.client.module.js')
  script(type='text/javascript', src='/applicationGost.js')
 