doctype html
head
  meta(charset='UTF-8')
  title Document
  link(rel='stylesheet' href='  /css/style-css-me/index.main.style.css')
  link(rel='stylesheet' type='text/css' href='  /css/style-css-me/css/bootstrap.min.css')
  script(type='text/javascript' src='  /css/style-css-me/js/jquery.js')
  script(type='text/javascript' src='  /css/style-css-me/js/bootstrap.min.js')
.container-fluid#mainPage
  .row
    #navScrollSpy.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header.col-md-6
        button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#id_nav1')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#')
          a(href='#home')
            img.img-responsive.logo(src='  /css/style-css-me/img/THES-LOGO.png')
      .col-md-5
      #id_nav1.collapse.navbar-collapse
        .nav.navbar-nav
          li
            a(href='#home')  HOME 
          li
            a(href='#aboutus')  ABOUT US 
          li
            a(href='#service')  SERVICE 
          li
            a(href='#personnel')  PERSONNEL 
          li
            a(href='#partners')  PARTNERS 
          li
            a(href='#contentus')  CONTANT US
          if username 
            h2 helo #{username} 
          else
            li
              a(href='#' data-toggle='modal' data-target='#myModal' data-ng-value='Login') Log In
            li
              a.glyphicon.glyphicon-calendar(href='#' data-toggle='modal' data-target='#myCalendar' data-ng-value='calendar')
  #scoll-spy-ex.scollspy-example(data-oofset='100' data-target='navScrollSpy')
    .row
      .div(ng-include="'/modules/mainpage/views/homeMain.client.view.jade'")
    .row
      .div(ng-include="'/modules/mainpage/views/aboutMain.client.view.jade'")
    .row
      .div(ng-include="'/modules/mainpage/views/slideMain.client.view.jade'")
    .row
      .div(ng-include="'/modules/mainpage/views/serviceMain.client.view.jade'")
    .row
      .div(ng-include="'/modules/mainpage/views/workMain.client.view.jade'")
    .row
      .div(ng-include="'/modules/mainpage/views/personnelMain.client.view.jade'")
    .row
    .row
      .image-two
        .image-two-color
    .row(id='partners')
      .div(ng-include="'/modules/mainpage/views/partnerMain.client.view.jade'")
    .row
      .div(ng-include="'/modules/mainpage/views/contactMain.client.view.jade'")

  .row(style='margin-top: 50px;')
    #myModal.modal.fade
      .modal-dialog
        .col-md-4
        .modal-content.col-md-5
          .modal-header
          .modal-body(name='login', method='POST', action='/login')
          .modal-footer

  .row
    #myCalendar.modal.fade
      .modal-dailog
        .modal-content
          .modal-header
            h4 myCalendar
            button.close(type='button', data-dismiss='modal')
              span.glyphicon.glyphicon-remove(aria-hidden='true')
          .modal-body
            .col-md-2
            iframe(src='https://calendar.google.com/calendar/embed?src=endwindows07%40gmail.com&ctz=Asia/Bangkok' style='border: 0' width='800' height='600' frameborder='0' scrolling='no')
          .modal-footer
            button.btn.btn-danger(type='button' data-dismiss='modal') Close
          a(href='/insertcontent') Create New Content
script(type='text/javascript').
  $('#scoll-spy-ex').scrollspy();
script(type='text/javascript', src='/lib/angular/angular.min.js')
script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.min.js')
script(type='text/javascript', src='/modules/mainpage/mainpage.client.module.js')
//script(type='text/javascript', src='/modules/mainpage/config/aminpage.client.router.js')
script(type='text/javascript', src='/applicationMainPage.js')


 #scoll-spy-ex.scollspy-example(data-oofset='100' data-target='navScrollSpy')
    .row
      .div(ng-include="'/modules/mainpage/views/contactMain.client.view.jade'")
    #aboutus.row
      .toppic-1
        .toppic-1-color
          h1 ABOUT US
          .content-1
            #content-1-img.col-md-2
              img.img-responsive(src='  /css/style-css-me/img/THES-LOGO.png')
            #content-1-text.col-md-9
              h2  &#xE04;&#xE27;&#xE32;&#xE21;&#xE40;&#xE1B;&#xE47;&#xE19;&#xE21;&#xE32; 
              h3
                | &#xE1A;&#xE23;&#xE34;&#xE29;&#xE31;&#xE17; &#xE40;&#xE2D;&#xE47;&#xE19;&#xE40;&#xE15;&#xE2D;&#xE23;&#xE4C;&#xE44;&#xE1E;&#xE23;&#xE15;&#xE4C; &#xE08;&#xE33;&#xE01;&#xE31;&#xE14;(Perf Enterprice)&#xE01;&#xE48;&#xE2D;&#xE15;&#xE31;&#xE49;&#xE07;&#xE02;&#xE36;&#xE49;&#xE19;&#xE42;&#xE14;&#xE22;&#xE21;&#xE35;&#xE27;&#xE31;&#xE15;&#xE16;&#xE38;&#xE1B;&#xE23;&#xE30;&#xE2A;&#xE07;&#xE04;&#xE4C;&#xE17;&#xE35;&#xE48;&#xE08;&#xE30;&#xE2A;&#xE23;&#xE49;&#xE32;&#xE07;&#xE1C;&#xE25;&#xE07;&#xE32;&#xE19;&#xE14;&#xE49;&#xE32;&#xE19;&#xE44;&#xE2D;&#xE17;&#xE35; &#xE41;&#xE25;&#xE30;&#xE0B;&#xE2D;&#xE1F;&#xE41;&#xE27;&#xE23;&#xE4C; &#xE40;&#xE1E;&#xE37;&#xE48;&#xE2D;&#xE08;&#xE30;&#xE21;&#xE38;&#xE49;&#xE07;&#xE1E;&#xE31;&#xE12;&#xE19;&#xE32;&#xE2A;&#xE32;&#xE23;&#xE2A;&#xE19;&#xE40;&#xE17;&#xE28;&#xE43;&#xE2B;&#xE49;&#xE14;&#xE35;&#xE22;&#xE34;&#xE49;&#xE07;&#xE02;&#xE36;&#xE49;&#xE19;
                | &#xE44;&#xE21;&#xE48;&#xE27;&#xE48;&#xE32;&#xE08;&#xE30;&#xE40;&#xE1B;&#xE47;&#xE19; Application, Website, MobieApplication &#xE40;&#xE1B;&#xE47;&#xE19;&#xE15;&#xE49;&#xE19; &#xE40;&#xE23;&#xE34;&#xE48;&#xE21; &#xE1B;&#xE35; 2550
            .col-md-12
          .content-1
            #content-1-img.col-md-2
              img.img-responsive(src='  /css/style-css-me/img/vision.png')
            #content-1-text.col-md-9
              h2  &#xE04;&#xE27;&#xE32;&#xE21;&#xE40;&#xE1B;&#xE47;&#xE19;&#xE21;&#xE32; 
              h3
                | &#xE1A;&#xE23;&#xE34;&#xE29;&#xE31;&#xE17; &#xE40;&#xE2D;&#xE47;&#xE19;&#xE40;&#xE15;&#xE2D;&#xE23;&#xE4C;&#xE44;&#xE1E;&#xE23;&#xE15;&#xE4C; &#xE08;&#xE33;&#xE01;&#xE31;&#xE14;(Perf Enterprice)&#xE01;&#xE48;&#xE2D;&#xE15;&#xE31;&#xE49;&#xE07;&#xE02;&#xE36;&#xE49;&#xE19;&#xE42;&#xE14;&#xE22;&#xE21;&#xE35;&#xE27;&#xE31;&#xE15;&#xE16;&#xE38;&#xE1B;&#xE23;&#xE30;&#xE2A;&#xE07;&#xE04;&#xE4C;&#xE17;&#xE35;&#xE48;&#xE08;&#xE30;&#xE2A;&#xE23;&#xE49;&#xE32;&#xE07;&#xE1C;&#xE25;&#xE07;&#xE32;&#xE19;&#xE14;&#xE49;&#xE32;&#xE19;&#xE44;&#xE2D;&#xE17;&#xE35; &#xE41;&#xE25;&#xE30;&#xE0B;&#xE2D;&#xE1F;&#xE41;&#xE27;&#xE23;&#xE4C; &#xE40;&#xE1E;&#xE37;&#xE48;&#xE2D;&#xE08;&#xE30;&#xE21;&#xE38;&#xE49;&#xE07;&#xE1E;&#xE31;&#xE12;&#xE19;&#xE32;&#xE2A;&#xE32;&#xE23;&#xE2A;&#xE19;&#xE40;&#xE17;&#xE28;&#xE43;&#xE2B;&#xE49;&#xE14;&#xE35;&#xE22;&#xE34;&#xE49;&#xE07;&#xE02;&#xE36;&#xE49;&#xE19;
                | &#xE44;&#xE21;&#xE48;&#xE27;&#xE48;&#xE32;&#xE08;&#xE30;&#xE40;&#xE1B;&#xE47;&#xE19; Application, Website, MobieApplication &#xE40;&#xE1B;&#xE47;&#xE19;&#xE15;&#xE49;&#xE19; &#xE40;&#xE23;&#xE34;&#xE48;&#xE21; &#xE1B;&#xE35; 2550
            .col-md-12
          .content-1
            #content-1-img.col-md-2
              img.img-responsive(src='  /css/style-css-me/img/mission.png')
            #content-1-text.col-md-9
              h2  &#xE04;&#xE27;&#xE32;&#xE21;&#xE40;&#xE1B;&#xE47;&#xE19;&#xE21;&#xE32; 
              h3
                | &#xE1A;&#xE23;&#xE34;&#xE29;&#xE31;&#xE17; &#xE40;&#xE2D;&#xE47;&#xE19;&#xE40;&#xE15;&#xE2D;&#xE23;&#xE4C;&#xE44;&#xE1E;&#xE23;&#xE15;&#xE4C; &#xE08;&#xE33;&#xE01;&#xE31;&#xE14;(Perf Enterprice)&#xE01;&#xE48;&#xE2D;&#xE15;&#xE31;&#xE49;&#xE07;&#xE02;&#xE36;&#xE49;&#xE19;&#xE42;&#xE14;&#xE22;&#xE21;&#xE35;&#xE27;&#xE31;&#xE15;&#xE16;&#xE38;&#xE1B;&#xE23;&#xE30;&#xE2A;&#xE07;&#xE04;&#xE4C;&#xE17;&#xE35;&#xE48;&#xE08;&#xE30;&#xE2A;&#xE23;&#xE49;&#xE32;&#xE07;&#xE1C;&#xE25;&#xE07;&#xE32;&#xE19;&#xE14;&#xE49;&#xE32;&#xE19;&#xE44;&#xE2D;&#xE17;&#xE35; &#xE41;&#xE25;&#xE30;&#xE0B;&#xE2D;&#xE1F;&#xE41;&#xE27;&#xE23;&#xE4C; &#xE40;&#xE1E;&#xE37;&#xE48;&#xE2D;&#xE08;&#xE30;&#xE21;&#xE38;&#xE49;&#xE07;&#xE1E;&#xE31;&#xE12;&#xE19;&#xE32;&#xE2A;&#xE32;&#xE23;&#xE2A;&#xE19;&#xE40;&#xE17;&#xE28;&#xE43;&#xE2B;&#xE49;&#xE14;&#xE35;&#xE22;&#xE34;&#xE49;&#xE07;&#xE02;&#xE36;&#xE49;&#xE19;
                | &#xE44;&#xE21;&#xE48;&#xE27;&#xE48;&#xE32;&#xE08;&#xE30;&#xE40;&#xE1B;&#xE47;&#xE19; Application, Website, MobieApplication &#xE40;&#xE1B;&#xE47;&#xE19;&#xE15;&#xE49;&#xE19; &#xE40;&#xE23;&#xE34;&#xE48;&#xE21; &#xE1B;&#xE35; 2550
            .col-md-12
    .row
      #myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#myCarousel' data-slide-to='0')
          li(data-target='#myCarousel' data-slide-to='1')
          li(data-target='#myCarousel' data-slide-to='2')
        .carousel-inner
          .item.active
            img.img-responsive(src='  /css/style-css-me/img/IMG_0942.jpg')
            .carousel-caption
              p slide1
          .item
            img.img-responsive(src='  /css/style-css-me/img/IMG_0930.jpg')
            .carousel-caption
              p slide2
          .item
            img.img-responsive(src='  /css/style-css-me/img/IMG_0919.jpg')
            .carousel-caption
              p slide3
        a.left.carousel-control(href='#myCarousel' data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
        a.right.carousel-control(href='#myCarousel' data-slide='next')
          span.glyphicon.glyphicon-chevron-right
    #service.row
      .toppic-3
        h1  SERVICE 
        #toppic-3-content.col-md-6
          .thumbnail
            img.img-responsive(src='  /css/style-css-me/img/IMG_0924.jpg')
            .caption
              h2  Web Development 
              h4
                | &#xE1A;&#xE23;&#xE34;&#xE01;&#xE32;&#xE23;&#xE2D;&#xE2D;&#xE01;&#xE41;&#xE1A;&#xE1A;&#xE40;&#xE27;&#xE47;&#xE1A;&#xE44;&#xE0B;&#xE15;&#xE4C; (Website Desite) &#xE14;&#xE49;&#xE27;&#xE22;&#xE28;&#xE35;&#xE25;&#xE1B;&#xE30;&#xE01;&#xE32;&#xE23;&#xE19;&#xE33;&#xE40;&#xE2A;&#xE19;&#xE2D; &#xE17;&#xE35;&#xE48;&#xE40;&#xE02;&#xE49;&#xE32;&#xE16;&#xE36;&#xE07;&#xE40;&#xE1B;&#xE49;&#xE32;&#xE2B;&#xE21;&#xE32;&#xE22;&#xE2D;&#xE22;&#xE48;&#xE32;&#xE07;&#xE40;&#xE23;&#xE35;&#xE22;&#xE1A;&#xE07;&#xE48;&#xE32;&#xE22;&#xE41;&#xE25;&#xE30;&#xE0A;&#xE31;&#xE14;&#xE40;&#xE08;&#xE19; &#xE40;&#xE1E;&#xE37;&#xE48;&#xE2D;&#xE2A;&#xE23;&#xE49;&#xE32;&#xE07;&#xE04;&#xE27;&#xE32;&#xE21;&#xE40;&#xE0A;&#xE37;&#xE48;&#xE2D;&#xE21;&#xE31;&#xE48;&#xE19;&#xE15;&#xE48;&#xE2D;&#xE01;&#xE25;&#xE38;&#xE48;&#xE21;&#xE25;&#xE39;&#xE01;&#xE04;&#xE49;&#xE32;
                | &#xE1A;&#xE27;&#xE01;&#xE01;&#xE31;&#xE1A;&#xE01;&#xE32;&#xE23;&#xE1C;&#xE2A;&#xE21;&#xE1C;&#xE2A;&#xE32;&#xE19;&#xE40;&#xE17;&#xE04;&#xE42;&#xE19;&#xE42;&#xE25;&#xE35;&#xE48;&#xE17;&#xE35;&#xE48;&#xE17;&#xE19;&#xE2A;&#xE21;&#xE31;&#xE22;&#xE43;&#xE2B;&#xE40;&#xE1B;&#xE47;&#xE19;&#xE44;&#xE1B;&#xE15;&#xE32;&#xE21;&#xE27;&#xE31;&#xE15;&#xE16;&#xE38;&#xE1B;&#xE23;&#xE30;&#xE2A;&#xE07;&#xE04;&#xE4C; &#xE17;&#xE35;&#xE48;&#xE08;&#xE30;&#xE40;&#xE23;&#xE34;&#xE48;&#xE21;&#xE2A;&#xE37;&#xE48;&#xE2D;&#xE2A;&#xE32;&#xE23;&#xE02;&#xE49;&#xE2D;&#xE21;&#xE39;&#xE25;&#xE2D;&#xE2D;&#xE01;&#xE44;&#xE1B; &#xE15;&#xE31;&#xE49;&#xE07;&#xE41;&#xE15;&#xE48;&#xE23;&#xE39;&#xE1B;&#xE41;&#xE1A;&#xE1A;&#xE02;&#xE2D;&#xE07; HTML, Dynamic HTML,Java
                | Script
        #toppic-3-content.col-md-6
          .thumbnail
            .caption
              h4
                | &#xE1A;&#xE23;&#xE34;&#xE01;&#xE32;&#xE23;&#xE08;&#xE31;&#xE14;&#xE17;&#xE33; Mobile Application &#xE1A;&#xE19;&#xE23;&#xE30;&#xE1A;&#xE1A; IOS ANDROID &#xE1E;&#xE23;&#xE49;&#xE2D;&#xE21;&#xE1A;&#xE23;&#xE34;&#xE01;&#xE32;&#xE23;&#xE43;&#xE2B;&#xE49;&#xE04;&#xE33;&#xE1B;&#xE23;&#xE36;&#xE01;&#xE29;&#xE32;&#xE42;&#xE14;&#xE22;&#xE17;&#xE35;&#xE21;&#xE07;&#xE32;&#xE19;&#xE21;&#xE37;&#xE2D;&#xE2D;&#xE32;&#xE0A;&#xE35;&#xE1E; &#xE14;&#xE49;&#xE27;&#xE22;&#xE41;&#xE19;&#xE27;&#xE04;&#xE34;&#xE14;&#xE02;&#xE2D;&#xE07;&#xE01;&#xE32;&#xE23;&#xE1E;&#xE31;&#xE12;&#xE19;&#xE32;&#xE17;&#xE35;&#xE48;&#xE40;&#xE23;&#xE35;&#xE22;&#xE01;&#xE27;&#xE48;&#xE32;
                | &quot;Mobile Application&quot; &#xE17;&#xE35;&#xE48;&#xE14;&#xE35;&#xE19;&#xE31;&#xE49;&#xE19;&#xE15;&#xE49;&#xE2D;&#xE07;&#xE43;&#xE0A;&#xE49;&#xE07;&#xE32;&#xE19;&#xE07;&#xE48;&#xE32;&#xE22;&#xE41;&#xE25;&#xE30;&#xE2A;&#xE27;&#xE22;&#xE07;&#xE32;&#xE21;
              h2  Mobile Application 
            img.img-responsive(src='  /css/style-css-me/img/IMG_0940.jpg')
        .toppic-3-bg
          a#work_buttom.btn.btn-danger.btn-lg(href='#work' type='button') Work
    #work.row
      .image-tree
        .image-tree-content
          .col-md-1
          .col-md-3
            .thumbnail.image-tree-content-thumbnail
              img.img-responsive(src='  /css/style-css-me/img/11.jpg')
              .caption
                h2 Pandomi
                h4 &#xE40;&#xE27;&#xE47;&#xE1A;&#xE44;&#xE0A;&#xE15;&#xE4C;&#xE1A;&#xE23;&#xE34;&#xE01;&#xE32;&#xE23;
          .col-md-3
            .thumbnail.image-tree-content-thumbnail
              img.img-responsive(src='  /css/style-css-me/img/12.jpg')
              .caption
                h2 E-Exam
                h4 &#xE23;&#xE30;&#xE1A;&#xE1A;&#xE2A;&#xE2D;&#xE1A;&#xE43;&#xE1A;&#xE02;&#xE31;&#xE1A;&#xE02;&#xE35;&#xE48;&#xE2D;&#xE34;&#xE40;&#xE25;&#xE47;&#xE01;&#xE17;&#xE23;&#xE2D;&#xE19;&#xE34;&#xE04;
          .col-md-3
            .thumbnail.image-tree-content-thumbnail
              img.img-responsive(src='  /css/style-css-me/img/13.jpg')
              .caption.1
                h4 &#xE28;&#xE39;&#xE19;&#xE22;&#xE4C;&#xE2B;&#xE31;&#xE27;&#xE43;&#xE08;&#xE2A;&#xE34;&#xE23;&#xE34;&#xE01;&#xE34;&#xE15;&#xE34;&#xE4C;&#xE20;&#xE32;&#xE04;&#xE15;&#xE30;&#xE27;&#xE31;&#xE19;&#xE2D;&#xE2D;&#xE01;&#xE40;&#xE09;&#xE35;&#xE22;&#xE07;&#xE40;&#xE2B;&#xE19;&#xE37;&#xE48;&#xE2D; &#xE21;&#xE2B;&#xE32;&#xE27;&#xE34;&#xE17;&#xE22;&#xE32;&#xE25;&#xE31;&#xE22;&#xE02;&#xE2D;&#xE19;&#xE41;&#xE01;&#xE48;&#xE19;
                h5 &#xE23;&#xE30;&#xE1A;&#xE1A;&#xE25;&#xE07;&#xE40;&#xE27;&#xE25;&#xE32;&#xE17;&#xE33;&#xE07;&#xE32;&#xE19; &#xE04;&#xE34;&#xE27;&#xE1C;&#xE39;&#xE49;&#xE1B;&#xE48;&#xE27;&#xE22; &#xE23;&#xE30;&#xE1A;&#xE1A;&#xE08;&#xE31;&#xE14;&#xE01;&#xE32;&#xE23;&#xE40;&#xE2D;&#xE01;&#xE2A;&#xE32;&#xE23;
        .image-tree-color
    #personnel.row
      .toppic-2
        #myCarousel-Personnel.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#myCarousel-Personnel' data-slide-to='0')
            li(data-target='#myCarousel-Personnel' data-slide-to='1')
            li(data-target='#myCarousel-Personnel' data-slide-to='2')
          .carousel-inner
            .item.active
              img.img-responsive.slide(src='  /css/style-css-me/img/personnel.png')
              .carousel-caption
                p slide1
            .item
              img.img-responsive.slide(src='  /css/style-css-me/img/personnel2.png')
              .carousel-caption
                p slide2
            .item
              img.img-responsive.slide(src='  /css/style-css-me/img/personnel3.png')
              .carousel-caption
                p slide3
          a.left.carousel-control(href='#myCarousel-Personnel' data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
          a.right.carousel-control(href='#myCarousel-Personnel' data-slide='next')
            span.glyphicon.glyphicon-chevron-right
    .row
      .image-two
        .image-two-color
    #partners.row
      .toppic-4
        h1  PARTNERS 
        .col-md-1
        div
          img.img-responsive.toppic-4-img(src='  /css/style-css-me/img/Cricla.png')
        .toppic-4-bg
  .row
    .div(ng-include="'/modules/mainpage/views/contactMain.client.view.jade'")
    //#contentus.row
      .toppic-5
        h1 CONTANT US
        .toppic-5-header.col-md-6
          h2 TherS CO.,LTD &#xE1A;&#xE23;&#xE34;&#xE29;&#xE31;&#xE17; &#xE14;&#xE34;&#xE40;&#xE2D;&#xE2A; &#xE08;&#xE33;&#xE01;&#xE31;&#xE14;
          h2 &#xE17;&#xE35;&#xE48;&#xE2D;&#xE22;&#xE39;&#xE48; 919/2 &#xE2B;&#xE21;&#xE39;&#xE48; 27 &#xE15;&#xE33;&#xE1A;&#xE25;&#xE28;&#xE34;&#xE25;&#xE32; &#xE2D;&#xE33;&#xE40;&#xE20;&#xE2D;&#xE40;&#xE21;&#xE37;&#xE2D;&#xE07; &#xE08;&#xE31;&#xE07;&#xE2B;&#xE27;&#xE31;&#xE14;&#xE02;&#xE2D;&#xE07;&#xE41;&#xE01;&#xE48;&#xE19; 4000 &#xE42;&#xE17;&#xE23;: 099-295-2666 
          h2  E-mail: thes@perfenterprise.com
        .map.col-md-6
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d239.11591802293623!2d102.81898121349515!3d16.482893991502625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xad02a833f94d8eb8!2z4Lij4LmJ4Liy4LiZ4Lia4LmJ4Liy4LiZ4Lih4Lit!5e0!3m2!1sth!2sth!4v1476938125447' width='400' height='300' frameborder='0' style='border:0' allowfullscreen='')
      div

<!--  --!>