doctype html
head
  meta(charset='UTF-8')
  title Document 
  link(rel='stylesheet' href='/css/style-css-me/index.main.style.css')
  link(rel='stylesheet' type='text/css' href='/css/style-css-me/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/style-css-me/uikit/css/uikit.min.css')
  script(type='text/javascript' src='/css/style-css-me/js/jquery.js')
  script(type='text/javascript' src='/css/style-css-me/js/bootstrap.min.js')
  script(type='text/javascript' src='/css/style-css-me/uikit/js/uikit.min.js')
  link(rel='stylesheet' type='text/css' href=' /css/style-css-me/uikit/css/components/slidenav.css')
  link(rel='stylesheet' type='text/css' href=' /css/style-css-me/uikit/css/components/slideshow.css')
  script(type='text/javascript' src=' /css/style-css-me/uikit/js/components/slideshow.js')
  script(type='text/javascript' src=' /css/style-css-me/uikit/js/components/slideshow-fx.js')
.container-fluid#mainPage
  .row
    #navScrollSpy.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#id_nav1')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#')
          a(href='#home')
            img.logo(src='  /css/style-css-me/img/THES-LOGO.png')
      .col-md-6
      #id_nav1.collapse.navbar-collapse 
        .nav.navbar-nav.uk-nav-bar-nav(data-uk-scrollspy-nav="{closest: 'li', smoothscroll: {offset:50 }}")
          li
            a.nav-button(href='#home')  HOME 
          li
            a.nav-button(href='#aboutus')  ABOUT US 
          li
            a.nav-button(href='#service')  SERVICE 
          li
            a.nav-button(href='#personnel')  PERSONNEL 
          li
            a.nav-button(href='#partners')  PARTNERS 
          li
            a.nav-button(href='#contactus')  CONTACT US
  .div
    .row#home
      .div(ng-include="'/modules/mainpage/views/homeMain.client.view.jade'" )
    .row#aboutus
      .div(ng-include="'/modules/mainpage/views/aboutMain.client.view.jade'")
    .row#slide
      .div(ng-include="'/modules/mainpage/views/slideMain.client.view.jade'")
    .row#service
      .div(ng-include="'/modules/mainpage/views/serviceMain.client.view.jade'")
    .row
      .div(ng-include="'/modules/mainpage/views/workMain.client.view.jade'")
    .row#personnel
      .div(ng-include="'/modules/mainpage/views/personnelMain.client.view.jade'")
    .row
    .row
      .image-two
        .image-two-color
    .row#partners
      .div(ng-include="'/modules/mainpage/views/partnerMain.client.view.jade'")
    .row#contactus
      .div(ng-include="'/modules/mainpage/views/contactMain.client.view.jade'")
  .row(style='margin-top: 50px;')
    #myModal.modal.fade
      .modal-dialog
        .col-md-3
        .modal-content.col-md-6
          .modal-header
            button.close(type='button', data-dismiss='modal')
          .modal-body(name='login', method='POST', action='/login')
          .modal-footer
  .row
    #myCalendar.modal.fade
      .modal-dailog
        .modal-content
          .modal-header
            h4 myCalendar
            button.close(type='button', data-dismiss='modal')
              span.glyphicon.glyphicon-remove(aria-hidden='true')
          .modal-body
            .col-md-2
            iframe(src='https://calendar.google.com/calendar/embed?src=endwindows07%40gmail.com&ctz=Asia/Bangkok' style='border: 0' width='800' height='600' frameborder='0' scrolling='no')
          .modal-footer
            button.btn.btn-danger(type='button' data-dismiss='modal') Close
          a(href='/insertcontent') Create New Content
script(type='text/javascript', src='/lib/angular/angular.min.js')
script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.min.js')
script(type='text/javascript', src='/modules/mainpage/mainpage.client.module.js')
script(type='text/javascript', src='/modules/mainpage/controllers/about.client.view.controller.js')
script(type='text/javascript', src='/modules/mainpage/controllers/partner.client.view.controller.js')
script(type='text/javascript', src='/modules/mainpage/controllers/slide.client.view.controller.js')
script(type='text/javascript', src='/modules/mainpage/controllers/personnel.client.view.controller.js')
script(type='text/javascript', src='/applicationMainPage.js')

//script(type='text/javascript', src='/modules/mainpage/config/aminpage.client.router.js')