doctype html
html
    head
        title= title
        link(href='/css/main.css', rel='stylesheet')
    body#mainApp
        //ไม่ใช่ haeder จะสร้างโครงหลักใว้ server แล้วส่วนที่แก้ไข จะให้ต่อกับ client เพื่อเชื่อมต่อไปยัง model
        header(ng-include="'/modules/core/views/header.client.view.jade'") 

        if username
            h2 helo #{username} 
            form(name='logout' ,method='POST', action='logout')
                div 
                    input(type='submit', value='Logout')
        else
            div
                a(ui-sref='signup') Sign Up
            div
                a(ui-sref='login') Log in

        if username
            div(ng-include="'/modules/hello/views/hello.client.view.jade'")
        
        div(ui-view='')
        script(type='text/javascript', src='/lib/angular/angular.min.js')
        script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.min.js')
        script(type='text/javascript', src='modules/core/core.client.module.js')
        script(type='text/javascript', src='/modules/users/users.client.module.js')
        script(type='text/javascript', src='/modules/users/config/users.client.routes.js')
        script(type='text/javascript', src='/modules/users/controllers/auth.client.controller.js')
        script(type='text/javascript', src='/modules/core/config/core.client.routes.js')
        script(type='text/javascript', src='/modules/hello/hello.client.module.js')
        script(type='text/javascript', src='/modules/hello/config/hello.client.routes.js')
        script(type='text/javascript', src='/modules/hello/controllers/hello.client.controller.js')
        script(type='text/javascript', src='/modules/hello/filters/hello.client.filter.js')
        
        script(type='text/javascript', src='/application.js')

//html
    head
        title=title
        link(href='/css/main.css', rel='stylesheet')
    body
        h1=title
        if isLoggedIn
            h3 You are logged in.
            form(name='logout' ,method='POST', action='logout')
                div 
                    input(type='submit', value='Logout')
        else
            form(name='login', method='POST', action='login')
                div
                    label(for='email') Email
                    input(name='email', type='email', placeholder='email..')
                div
                    label(for='password') password
                    input(name='password', type='password', placeholder='password..')
                div
                    input(name='remember', type='checkbox', value='remember')
                    | Remember Me
                div
                    input(type='submit', value='Login')