doctype html
head
  meta(charset='UTF-8')
  title Document
  link(rel='stylesheet' type='text/css' href=' /css/style-css-me/login.main.style.css')
  link(rel='stylesheet' type='text/css' href=' /css/style-css-me/css/bootstrap.min.css')
  script(type='text/javascript' src=' /css/style-css-me/js/jquery.js')
  script(type='text/javascript' src=' /css/style-css-me/js/bootstrap.min.js')
.container-fluid
  .row
    form.login(name='login', method='POST', action='/login' id='login')
      .col-md-4
      .form-group.col-md-6
        img.img-responsive.form-group(src=' /css/style-css-me/img/THES-LOGO-center.png' alt='Responsive image')
      .col-md-4
      .col-md-8
        .col-md-4
          .form-group
            input.form-control(name='username', type='username', placeholder='Enter Username..' )
          .form-group
            input.form-control(name='password', type='password',  placeholder='Enter Password..')
          .form-group
            button.btn.btn-success.form-control(type='submit', value='Log in') Sing In