doctype html
html
    head
        title= title
        link(href='/css/main.css', rel='stylesheet')
    body
        each msg in messages
            div.flash
                = msg
        form(name='signup', method='POST', action='/signup')
            div
                label(for='username') Username
                input(name='username', type='text', placeholder='username')
            div
                label(for='fistName') Fistname
                input(name='fistName', type='text', placeholder='fistName')
            div
                label(for='lastName') Lastname 
                input(name='lastName', type='text', placeholder='lastName')
            div
                label(for='email') Email
                input(name='email', type='email', placeholder='email')
            div
                label(for='password') Password 
                input(name='password', type='password', placeholder='password')
            div
                input(type='submit', value='Sign up')
            div
                a(href='/oauth/facebook') Log in with facebook
            div
                a(href='/oauth/google') Log in with google