doctype html
head
  meta(charset='UTF-8')
  title Sample File Upload
form(action='/Contact/58228c9a60791c8c25563e84' method='PUT' enctype='multipart/form-data')
  .form-group.col-md-8
    label(for='') Company
    input.form-control(type='text',ng-model='model.company' ,placeholder='enter your company..')
  .form-group.col-md-8
    label(for='') Address
    input.form-control(type='text',ng-model='model.address' ,placeholder='enter your address..')
  .form-group.col-md-8
    label(for='') Email
    input.form-control(type='text', ng-model='model.email' , placeholder='enter your email..')
    br
    button.btn.btn-success(type='submit')  Add
    button.btn.btn-info(ng-click='updateData()')  Update
