doctype html
html
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet' href='css/style-css-me/index.main.style.css')
    link(rel='stylesheet' type='text/css' href='css/style-css-me/css/bootstrap.min.css')
    script(type='text/javascript' src='css/style-css-me/js/jquery.js')
    script(type='text/javascript' src='css/style-css-me/js/bootstrap.min.js')
  .container
    .page-header
      h2  List Games 
    .row
      div
        h1 qqqqqqqqqqqqqqqq
        form(name='listContent/:_id', method='DLETE', action='/listContent/581891')
          div
            input(type='submit', value='Log in')
    .row(ng-app="ListContent")
      table.table.table-hover(ng-controller='storeController as store')
        tr
          th #
          th Title Contents
          th Text Contents
        tr(ng-repeat='game in games')
          td {{$index+1}} 
          td {{game.textContent}}
          td {{game.titleContent}}
          td.button.btn.btn-danger.btn-sm(type='submit') delete
      a.btn.btn-info(href='/insertcontent' type='button')  Back 
  script(src='lib/angular/angular.min.js')
  script(type='text/javascript' src='lib/angular-ui-router/release/angular-ui-router.min.js')
  script(src='scripts/controllers/viewContent.client.controller.js')
  script(type='text/javascript', src='/modules/content/controllers/insertContent.client.controllers.js')
  script(type='text/javascript', src='/modules/content/content.client.module.js')
  script(src='scripts/services/service.js')
